---
import { Image } from 'astro:assets';

const { title, description, state, slug, image_card } = Astro.props;
---

<div class="bg-cyan-950/90 hover:bg-cyan-900/70 backdrop-blur-lg rounded-xl shadow-lg p-8 relative flex flex-col overflow-hidden h-[680px] max-w-96">
  <a href={`/projets/${slug}`} class="block absolute inset-0 z-10"></a>
  <Image src={image_card} alt={title} class="absolute inset-0 h-full object-cover object-top z-0" />
  <div class="relative mt-auto flex flex-col gap-4">
    <div class="flex flex-row justify-between">
      <h3 class="text-brown font-bold text-xl">{title}</h3>
      <div class="badge badge-outline badge-accent badge-sm">{state}</div>
    </div>
    <p>{description}</p>
  </div>
</div>
